$bgcolor: rgba(26, 55, 229, 0.06);

.container {
  margin-top: 80px;
  text-align: center;
}

header {
  background-color: rgba(112, 128, 130, 0.8);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  h1 {
    color: rgb(2, 28, 23);
    margin: 0;
    padding: 5px;
    font-family: 'Courier New', Courier, sans-serif;
    font-size: 30px;
    text-align: center;
  }
}

.main__btn {
  width: 100%;
}

.main__card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 30px;
  background-color: #fafafa;
}

.main__card__inner-first {
  margin: 10px 0 25px;
}

.is-checked {
  text-decoration: line-through;
}

.is-not-checked {
  text-decoration: none;
}

.main__card__inner-second {
  .btn-icon {
    border-radius: 50%;
  }
  .btn-icon:hover {
    background-color: $bgcolor;
    transition: all 0.3s;
    opacity: 0.5;
  }
  span {
    margin-left: 1em;
  }
}
